name: Build Workflow
on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run build
        run: echo "Building project..."

      - name: Trigger Deploy Workflow
        uses: peter-evans/workflow-dispatch@v1
        with:
          workflow: deploy.yml
          ref: main
